<div class="main-content">
    <div class="page-wrapper-cs">
        <div class="new-intake-header">
            <div class="row client-information">
                <div class="col-md-3 padd-l-45 padd-30">
                    <div id="profile_place_holder" class="text-center">
                        Upload Image
                    </div>
                </div>

                <div class="col-md-4 padd-t-30">
                    <div class="row item">
                        <div class="col-5">Name:</div>
                        <div class="col-7">Armin Momeni</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Address:</div>
                        <div class="col-7">5Th Avenue</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Client Type:</div>
                        <div class="col-7">Parent</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Email:</div>
                        <div class="col-7">j.doe@gmail.com</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Alerts:</div>
                        <div class="col-7">None</div>
                    </div>
                </div>

                <div class="col-md-4 padd-t-30">
                    <div class="row item">
                        <div class="col-5">Next To Kin:</div>
                        <div class="col-7">Jane Doe</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Band or Community:</div>
                        <div class="col-7">Rocky Cree</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Intake Date:</div>
                        <div class="col-7">05/22/2019</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Assigned Advocate:</div>
                        <div class="col-7">Micheal Carick</div>
                    </div>
                    <div class="row item">
                        <div class="col-5">Status:</div>
                        <div class="col-7">Pre-Intake Completed</div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <mat-tab-group class="custom-tab-1">
                <mat-tab label="General Information">
                    <app-cl-general-info></app-cl-general-info>
                </mat-tab>
                <mat-tab label="CFS Details">
                    <app-cl-cfs-details></app-cl-cfs-details>
                </mat-tab>
                <mat-tab label="Guardianship/Kinship">
                    <app-cl-guardianship-kinship></app-cl-guardianship-kinship>
                </mat-tab>
                <mat-tab label="Family Tree">
                    <app-cl-family-tree></app-cl-family-tree>
                </mat-tab>
                <mat-tab label="Children Detail">
                    <app-cl-children-detail></app-cl-children-detail>
                </mat-tab>
                <mat-tab label="CFS Timeline">
                    <app-cl-cfs-timeline></app-cl-cfs-timeline>
                </mat-tab>
                <mat-tab label="Personal Assessment">
                    <app-cl-personal-assessment></app-cl-personal-assessment>
                </mat-tab>
                <mat-tab label="Opportunity">
                    <app-cl-opportunity></app-cl-opportunity>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>