<div class="p-grid">
    <div class="p-col">
        <label class="margin-t-30">
            If you could wake up tomorrow and everything was just the way you wanted it to be. what would that look like for you?
        </label>
        <mat-form-field>
                <textarea matInput type="text" class="light-grey-bg new-intake-input"
                          rows="10"
                          placeholder=""></textarea>
        </mat-form-field>
    </div>
    <div class="p-col p-col-align-start">
        <label class="margin-t-30">
            Would you like to provide any additional details or documentation, please do.
        </label>
        <mat-form-field>
                <textarea matInput type="text" class="light-grey-bg new-intake-input"
                          rows="10"
                          placeholder=""></textarea>
        </mat-form-field>
    </div>
</div>