<div class="p-grid">
    <div class="p-col">
        <label class="margin-t-30">
            Please write the timeline of your interactions with CFS. Take your time and best recall the moments of
            your experience so far. Please provide the dates that you remember and any documentation that was provided
            to you.
        </label>
        <mat-form-field>
                <textarea matInput type="text" class="light-grey-bg new-intake-input"
                          rows="4"
                          placeholder="Prior To Apprehension"></textarea>
        </mat-form-field>

        <mat-form-field>
                <textarea matInput type="text" class="light-grey-bg new-intake-input"
                          rows="4"
                          placeholder="Apprehension"></textarea>
        </mat-form-field>
    </div>
    <div class="p-col p-col-align-start">
        <mat-form-field class="margin-t-20">
                <textarea matInput type="text" class="light-grey-bg new-intake-input"
                          rows="4"
                          placeholder="Case Plan"></textarea>
        </mat-form-field>

        <mat-form-field>
                <textarea matInput type="text" class="light-grey-bg new-intake-input"
                          rows="4"
                          placeholder="Steps taken"></textarea>
        </mat-form-field>

        <button type="button" class="margin-t-30 gray-btn">Save & Continue</button>
    </div>
</div>