<div class="p-grid">
    <div class="p-col">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Do You Have Family/Friends You Can Use For Kinship Care?">
            </mat-form-field>
        </div>
    </div>
    <div class="p-col">
        <div class="item-wrapper">
            <div class="ui-inputgroup">
                <mat-form-field>
                    <input matInput type="text" class="new-intake-input"
                           placeholder="Do You Have Anyone You Can Use For Customary Care?">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col p-col-align-end">
        <div class="item-wrapper">
            <mat-select placeholder="What Is The Current Status Of Your CFS File(s)?" class="new-intake-select">
                <mat-option label="fvghjkl">
                    mmmm
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="p-col">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Did You Receive a Written Case Plan From The CFS Agency?">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-6 p-col-align-end">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="What Steps Have You Taken to Have Your Children Returned?">
            </mat-form-field>
        </div>
    </div>
    <div class="p-col-6 p-col-align-end">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Have You Had Previous Involvement With CFS?">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-6 p-col-align-end">
        <div class="item-wrapper">
                <mat-radio-group aria-label="Living Together">
                    <label>Willing to Attend One of Our Programs?</label>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
        </div>
    </div>
    <div class="p-col-6 p-col-align-end">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Tell us About Your Experience With CFS so Far">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-col-align-end">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text"
                       placeholder="Did You Recieve Prentative Support Prior to Your Children Being Apprehended?">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-6 p-col-align-end">
        <div class="item-wrapper">
            <mat-radio-group aria-label="Living Together">
                <label>Did CFS Accurately Explain The Process That Was to be Followed?</label>
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="p-col-6 p-col-align-end">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="What is The Visit Schedule With Your Childern?">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Do You Know Where Your Childern Are?">
            </mat-form-field>
        </div>
    </div>
    <div class="p-col p-col-align-end">
        <div class="item-wrapper">
            <mat-select placeholder="Select Placement Priority" class="new-intake-select">
                <mat-option label="fvghjkl">
                    mmmm
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-6 p-col-align-end">
        <button type="button" class="gray-btn">Save & Continue</button>
    </div>
</div>