<div class="p-grid">
    <div class="p-col">
        <label class="margin-t-30">If your child is in care, do you have any immediate or extended family/friends that can care for
            your child for the time being? Please fill immediate family member details
        </label>
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Name">
            </mat-form-field>
        </div>
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Number">
            </mat-form-field>
        </div>
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Relationship">
            </mat-form-field>
        </div>
    </div>
    <div class="p-col p-col-align-start">
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="How Long Have You Known This Person?">
            </mat-form-field>
        </div>
        <div class="item-wrapper">
            <mat-form-field>
                <input matInput type="text" class="new-intake-input"
                       placeholder="Do They Have Experience With Special Needs Children?">
            </mat-form-field>
        </div>
        <div class="item-wrapper margin-t-20">
            <mat-select placeholder="Relationship" class="new-intake-select">
                <mat-option>
                    Mother
                </mat-option>
                <mat-option>
                    Father
                </mat-option>
                <mat-option>
                    Son
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>